<!-- header.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <title th:text="${pageTitle}"></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    /* Your custom styles */
    header {
      background-color: blue; /* Change this color to your desired color */
      padding: 20px;
      text-align: center;
    }
  </style>
</head>
<body>
<header>
  <h1>Welcome to My Website</h1>
</header>
</body>
</html>

